* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
main {
  /* border: 1px solid black; */
  text-align: center;
}
.hide {
  display: none;
}
#container {
  border: 1px;
  width: 200px;
  position: absolute;
  top: 80px;
  left: 35%;
}
.answerButton {
  background-color: #351b75;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  display: inline-block;
  text-align: left;
  /* padding-left: 10px; */
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
  /* padding: auto; */
}
/* #quizScreen{
	display: flex;
    height: 200px;
    flex-direction: column;
} */
#message {
  position:absolute;
  top: 350px;
  left: 33%;
  width: 400px;
  color: gray;
  font-style: italic;
  font-size: larger;
  text-align: left;
}
#highScores {
  text-decoration: none;
  color: #b84fe5;
}
#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 30px;
}
#title-text {
  font-size: x-large;
  margin-bottom: 30px;
}
#startScreen {
  margin-top: 70px;
}
#start {
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #351b75;
  color: #ffffff;
  border-radius: 10px;
}
#start:hover {
  background-color: #b84fe5;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
.answerButton {
  
}
.answerButton:hover {
  background-color: #b84fe5;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
