* {
	margin: 0;
	padding: 0;
}
body{
	max-width: 800px;
	margin: 0 auto;
}
header{
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
}
main {
	/* border: 1px solid black; */
	text-align: center;
}
.hide{
	display: none;
}



